# Ignore everything by default
*

# Keep gitignore itself tracked
!.gitignore
!cp-skills
!cp-agents
!cp-ccc

# Allow only public skills
!ask-codex/
!ask-codex/**

!project-context/
!project-context/**

!double-cr
!double-cr/**

!update-docs/
!update-docs/**

!implement/
!implement/**